* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.intro {
  background: #e5e5e5;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.sr-only {
  visibility: hidden;
  position: absolute;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  color: #fff;
}

div {
  margin: 0;
  padding: 0;
}

.font-family-poppins {
  font-family: "POPPINS", sans-serif;
}

.font-family-roboto {
  font-family: "ROBOTO", sans-serif;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #6070ff;
  margin: 0;
  padding: 20px 5%;
  overflow-x: hidden;
  animation: trans 1s ease-in-out;
}

@keyframes trans {
  from {
    transform: translateY(-50%);
  }

  to {
    transform: translateY(0);
  }
}

.toolbar-logo {
  color: #6070ff;
  font-weight: 600;
  font-size: 18px;
}

.menu-btn {
  display: none;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
    background: #fff;
    border: none;
    font-size: 18px;
    color: #6070ff;
    position: absolute;
    right: 1.5em;
    top: 1em;
    cursor: pointer;
  }

  .menu-exit {
    background: none;
    color: #fff;
    border: none;
    font-size: 22px;
    margin-top: -50px;
    margin-inline: auto 0.3em;
    cursor: pointer;
  }

  .nav-items .nav-item {
    color: #fff;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 600;
  }

  .nav-bar {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 0;
    transform: translateX(100%);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #fff;
    background: rgba(96, 112, 255, 0.9);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding-top: 70px;
    padding-inline: 40px 5%;
    margin: 0;
    transition: all 500ms;
  }

  .nav-bar[data-visible="true"] {
    transform: translateX(0%);
  }
}

.primary-content {
  background: #fff;
  background-image: url('images/header-shapes mobile@2x.svg');
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  margin-top: 0;
  padding-inline: 5%;
  padding-block: 6rem 4rem;
  height: 100vh;
  border-radius: 0 0 0 100px;
  animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.primary-information {
  margin-block: 20px 15px;
  padding: 0;
}

.primary-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.37px;
  color: #172b4d;
  margin-block: 10px;
  text-transform: capitalize;
}

.description {
  color: #505f79;
  font-weight: 400;
  font-size: 16px;
  margin-block: 10px 0;
}

.social-header {
  font-weight: 500;
  font-size: 20px;
  color: #7f8cff;
  margin-top: 10px;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-left: -30px;
}

.social-media a {
  width: 20px;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
  color: #505f79;
}

@media (min-width: 768px) {
  body {
    background: #e5e5e5;
  }

  .toolbar {
    padding: 15px 8%;
    align-items: center;
  }

  .menu,
  .menu-exit {
    display: none;
  }

  .nav-items {
    z-index: 100;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-inline: 20px 0;
    font-size: 15px;
    right: 10px;
  }

  .nav-items .nav-item {
    z-index: 100;
    font-family: 'Poppins', sans-serif;
    color: #344563;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 500;
  }

  .primary-content {
    display: flex;
    flex-direction: column;
    background: #fff;
    background-image: url('images/Header bg0.5x.svg');
    background-repeat: no-repeat;
    background-position: 10%;
    margin-top: 0;
    padding-inline: 23%;
    padding-block: 8rem 9rem;
    height: 100vh;
    border-radius: 0 0 0 100px;
  }
}

main {
  background: #e5e5e5;
  width: 100%;
}

.columns {
  background: #e5e5e5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  padding-block: 80px;
  margin: 0 auto;
  width: 100%;
}

.column-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  align-self: center;
  width: 75%;
  border: 1px solid #dfe1e6;
  border-radius: 10px;
  margin: 50px auto;
  padding: 20px 5%;
}

.column-item img {
  width: 100%;
}

.column-detail {
  height: 100%;
}

.col-title {
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin-block: 15px;
}

.canopy {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.canopy-title {
  text-transform: uppercase;
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  margin-left: -30px;
  margin-right: 5px;
}

.can-items {
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
  margin-left: 0;
  margin-right: 5px;
}

.can-items span {
  color: #c1c7d0;
  font-size: 15px;
  margin-top: -2px;
}

.column-item p {
  color: #344563;
  font-size: 15px;
  line-height: 24px;
  margin-block: 15px;
}

.column-links {
  display: flex;
  flex-direction: row;
  margin-left: -35px;
  margin-bottom: 15px;
  color: #6070ff;
}

.column-links li a {
  color: #6070ff;
}

.column-link {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 12px;
  margin-right: 4px;
  margin-bottom: 20px;
}

.column-button {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #fff;
  color: #396df2;
  border: 2px solid #396df2;
  border-radius: 10px;
  padding: 8px 15px;
  width: fit-content;
  cursor: pointer;
  margin-top: 20px;
  transition: all 500ms ease-in-out;
}

.column-button:hover,
.column-button:focus {
  background-color: #396df2;
  color: #fff;
}

.card {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  inset: 0 0 0 0;
  background: transparent;
  transform: scale(0);
  transition: all 500ms ease-in-out;
  pointer-events: all;
}

.card.active {
  transform: scale(1);
}

.card-details {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 1000px rgba(193, 199, 208, 0.9);
  margin: 0 auto;
  pointer-events: all;
  width: 95%;
  max-width: 380px;
  padding-block: 1.5%;
  padding-inline: 4%;
  text-align: start;
}

.card-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin-bottom: 10px;
  text-align: start;
}

.card-canopy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  margin-top: -2px;
  margin-bottom: 10px;
  margin-left: -30px;
}

.card-item {
  font-family: 'Poppins', sans-serif;
  color: #7a869a;
  font-weight: 600;
  font-size: 15px;
  margin-left: 5px;
}

.can-card {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: #344563;
  font-weight: 600;
  font-size: 15px;
}

.card-img {
  width: 100%;
  height: 260px;
  margin-bottom: -5px;
}

.card-image {
  display: none;
}

.card-inform {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
}

.card-description {
  display: flex;
  flex-direction: column;
  margin-block: 10px;
  color: rgba(52, 69, 99, 1);
  font-weight: 400;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.card-button-links {
  margin-left: 0;
  padding: 0;
}

.card-links {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(235, 236, 240, 1);
}

.card-link-visible,
.card-link-hidden {
  display: flex;
  flex-direction: row;
  margin-left: -35px;
  margin-bottom: 15px;
  color: #6070ff;
}

.card-link {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #396df2;
  background: #ebebff;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 8px;
  margin-right: -5px;
}

.hidden {
  display: none;
}

.card-button {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
  background: #fff;
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 10px;
  padding: 7px 11.5px;
  margin-right: 5px;
  margin-top: 15px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.card-button:hover,
.card-button:focus {
  background-color: #396df2;
  color: #fff;
}

.card-button img {
  width: 20px;
  margin-left: 2px;
}

.close-card {
  position: absolute;
  border: none;
  outline: none;
  background: none;
  color: #67798e;
  font-size: 26px;
  top: 5px;
  right: 20px;
}

.about-me {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  background: #fff;
  margin: 20px auto;
  padding-inline: 13.5%;
  padding-block: 6rem;
  border-radius: 0 100px  0 0;
}

.about-details {
  display: flex;
  flex-direction: column;
  background: #fff;
}

.about-title {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 20px;
  overflow: hidden;
}

.about-details p {
  color: #344563;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.features {
  display: flex;
  flex-direction: column;
}

.features li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #000;
  font-weight: 500;
  font-size: 20px;
  border-bottom: 1px solid #dfe1e6;
  margin-left: -40px;
  margin-block: 25px 15px;
  padding: 18px 10px;
}

.features li i {
  color: #abc7c3;
  font-size: 20px;
}

.feature-items li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 120%;
  margin-inline: 10px;
  background: #f7f7f9;
  border-radius: 8px;
  color: #344563;
  font-size: 15px;
  padding-inline: 25px;
}

.feature-items li img {
  margin-right: 20px;
}

.drop {
  color: #abc7c3;
}

@media (min-width: 850px) {
  .columns {
    background: #e5e5e5;
    padding-bottom: 7rem;
  }

  .column-item {
    align-items: flex-start;
    padding-inline: 30px;
    width: 75%;
    background: #fff;
    transition: all 500ms ease-in-out;
  }

  .column-item:hover {
    border: 2px solid #a7aeff;
    box-shadow: 0 0 20px 20px rgb(167, 174, 255);
  }

  .switch {
    flex-direction: row;
  }

  .row-reverse {
    flex-direction: row-reverse;
  }

  .column-item img {
    width: 50%;
    height: auto;
  }

  .switch .column-detail {
    margin-left: 40px;
    width: 50%;
  }

  .row-reverse .column-detail {
    margin-right: 40px;
    width: 50%;
  }

  .about-me {
    margin-top: -80px;
    grid-template-columns: 1fr 1fr;
    border-radius: 0 100px  0 0;
    padding-block: 5rem 8rem;
  }

  .about-details {
    width: 75%;
  }

  .features {
    margin-left: -70px;
    width: 120%;
  }

  .feature-items {
    display: flex;
    flex-direction: row;
  }

  .feature-items li {
    flex-direction: column;
    align-items: flex-start;
    width: 122px;
  }

  .card-button img {
    width: 20px;
    margin-left: 2px;
  }

  .feature-items li img {
    margin-bottom: 10px;
  }

  .card {
    padding-block: 10px;
  }

  .card-details {
    max-width: 800px;
    padding-inline: 4%;
    padding-block: 15px;
    height: 97%;
  }

  .card-canopy {
    margin-block: 10px;
  }

  .card-images .image-large {
    display: block;
    width: 700px;
    max-height: 320px;
    margin-top: 15px;
  }

  .card-title {
    margin-top: 20px;
    margin-bottom: -7px;
  }

  .card-inform {
    display: flex;
    flex-direction: row;
  }

  .card-description {
    width: 60%;
    margin-right: 5px;
  }

  .close-card {
    top: 5px;
  }

  .card-links {
    margin-top: 15px;
  }

  .card-img,
  .show {
    display: none;
  }

  .card-button {
    padding: 6px 15px;
  }

  .hidden {
    display: block;
  }
}

.mobile-footer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  background: #6070ff;
  border-radius: 100px 0 0 0;
  background-image: url('images/contact form shapes-mobile.svg');
  background-repeat: no-repeat;
  background-position: 100%;
  padding-block: 8.5rem 4rem;
  padding-inline: 5%;
}

.form-title {
  text-align: center;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}

.mobile-footer p {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  max-width: 550px;
  margin-inline: auto;
}

.mobile-form {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 30px auto;
}

.mobile-form input,
.mobile-form textarea {
  width: 100%;
  border: none;
  margin-block: 15px;
  font-weight: 400;
  font-size: 17px;
  border-radius: 8px;
  color: #172b4d;
  padding: 10px;
}

.form-button {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  border: 2px solid #6070ff;
  border-radius: 10px;
  padding: 8px 15px;
  width: fit-content;
  cursor: pointer;
  margin-top: 10px;
  background: #fff;
  transition: all 500ms ease-in-out;
}

.form-button:hover,
.form-button:focus {
  background-color: #6070ff;
  color: #fff;
  border: 2px solid #fff;
}

@media (min-width: 768px) {
  .mobile-footer {
    background-image: url('images/contact form background shapes.svg');
    background-position: 90%;
    background-repeat: no-repeat;
    margin-top: -80px;
  }

  .mobile-form input,
  .mobile-form textarea {
    border-radius: 2px;
  }

  .form-button {
    margin-inline: auto;
  }
}
